# Python
backend/venv/
backend/.venv/
__pycache__/
*.py[cod]
*$py.class

# Node / Frontend
node_modules/
frontend/node_modules/
dist/
build/

# Entorno y Secretos
.env
.env.local
backend/.env

# Base de datos local
postgres_data/

# Otros
.DS_Store
*.log